<h1>
    User Profile
</h1>
<p>
    User page.
</p>
<form action="/referralcode/1" method="GET">
    <button>Get Referral Code</button>
</form>
<form action="/referralhistory" method="GET">
    <button>Get Referral History</button>
</form>
<form action="/milestones" method="GET">
    <button>Get Milestones</button>
</form>
<form action="/referralcode/0" method="GET">
    <button>Delete Referral Code</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>